<div class="w-full min-h-screen">

    <div class="mx-20 mt-16">

        <div class="grid grid-cols-4 gap-1">
            <!-- pega apenas 4 jogos pra primeira linha -->
            @for (jogo of jogos.slice(0, 4); track jogo.nome) {
            <app-jogosdestaques [jogo]="jogo"> </app-jogosdestaques>
            }

            <!-- pega apenas 2 jogos pra segunda linha -->
            @for (jogo of jogos.slice(4, 6); track jogo.nome; let i = $index) {
                <app-jogosdestaques [jogo]="jogo" 
                                    [class.col-start-2]="i === 0">
                </app-jogosdestaques>
            }
        </div>

    </div>

</div>